ul{
    padding-left: 12px;
    margin-bottom: 0;
}

#mainFooter.toggled-red {
    background-color: blue;
}

#mainFooter {
    min-height: 50px; 
}

table{
    font-weight: bold;
}

.confirm-table {
    width: fit-content;
    border-collapse: collapse;
}

.confirm-table td:first-child {
    table-layout: auto;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
}

.confirm-table td:last-child {
    white-space: normal;/*入力が短い時は縮む */
}

.confirm-table input.confirm-input,
.confirm-table textarea.confirm-input {
    width: auto;
    display: block;
    resize: none;
    white-space: pre-wrap;
}