table{
    width: auto;
    margin-right: auto;
}

ul{
    margin-bottom: 0;
    padding-left: 2%;
}


td{
    text-align: center;
    vertical-align: middle;
}

table tr td:first-child {
    /*表の左側を中央寄せにする*/
    text-align: center;
    width: auto;
    font-weight: bold;
    white-space: nowrap;
}

table tr td:last-child {
    /*表の右側を左から書かせる*/
    text-align: left;
}

table tr td:last-child input[type="text"],
table tr td:last-child input[type="email"],
table tr td:last-child input[type="number"],
table tr td:last-child input[type="age"]{
    /*　tdを表の枠いっぱいにする*/
    width: 90%; 
    display: block; 
}

.confirm-input {
    width: auto; 
    min-width: 0; 
    padding: 2px;
    box-sizing: content-box; 
    white-space: nowrap; 
}

.confirm-message-area {
    width: auto;
    resize: none;
    box-sizing: border-box; 
    /*表サイズの調整 */
    min-width: 0; 
    max-width: 100%;
    /* 文字の折り返し */
    white-space: pre-wrap; 
    overflow-y: hidden;
}

table tr td:last-child textarea {
    box-sizing: border-box;
    display: block;
}

.container {
    max-width: 1000px;
    margin: 0 auto; 
}

.toggled-red {
    background-color: blue;
}